<div>
    <div class="h1">Introduction et demande de consentement.</div>

    <p>
        Bonjour, la petite expérience qui va suivre a été réalisée par nos soins dans le cadre d’un cours de psychologie cognitive. Nous sommes deux étudiantes en psychologie ; Marie Chardin et Marie-Emmanuelle Galteau.
    </p>

    <p>
        Si vous l’acceptez, nous allons réquisitionner votre attention pendant quelques minutes (<strong>pas plus de 10</strong>). Les résultats que nous obtiendrons seront anonymisés et présentés dans un cadre universitaire. D’ailleurs, si vous le désirez, nous pourrons vous communiquer les résultats de notre recherche. Il faudra alors nous laisser votre adresse mail à la fin du test.
    </p>
 
    <p>
        Ce test doit être effectué sur un écran de taille supérieur à … (pas de tablette, ni téléphone).
    </p>

    <p>
        En appuyant sur "suivant", vous attestez être volontaire pour participer à cette expérience.
    </p>
    <button mat-raised-button color="primary" (click)="nextClick()">Suviant</button>

</div>