<div class="container h-100">
    
    <div class="row w-100 h-100" *ngIf="currentId === INTRO_ID">
        <app-intro class="h-auto my-auto col-md-12" (goToUserInfo)="this.next()"></app-intro>
    </div>
    
    
    <div class="row w-100 h-100" *ngIf="currentId === USER_INFO_ID">
        <app-user-info [user]="this.user" (goToUserInfo)="this.next()" class="h-auto my-auto col-md-12"></app-user-info>
    </div>
    
    <div class="row w-100 h-100" *ngIf="currentId === TEST_EXPLANATION_ID">
        <app-test-explanation (goToTest)="this.next()" [images]="imagesDemo" class="h-auto my-auto col-md-12"></app-test-explanation>
    </div>
    
    <div class="row w-100 h-100" *ngIf="currentId === TEST_ID">
        <app-words-defiler  class="h-auto my-auto col-md-12" [imagesDir]="'test/'" [images]="images" [words]="words"
        (updateImages)="updateImages($event)" (onEnd)="testEnd($event)"></app-words-defiler>
    </div>

    <div class="row w-100 h-100" *ngIf="currentId === PRE_WORDS_REVIEW_ID">
        <app-pre-words-review class="h-auto my-auto col-md-12" (next)="next()"></app-pre-words-review>
    </div>

    <div class="row w-100 h-100" *ngIf="currentId === WORDS_REVIEW_ID">
        <app-words-review class="h-auto my-auto col-md-12" 
        [correctWords]="words" [noiseWords]="noiseWords" (onEnd)="wordsReviewEnd($event)"></app-words-review>
    </div>

    <div class="row w-100 h-100" *ngIf="currentId === IMAGES_REVIEW_ID">
        <app-images-review class="h-auto my-auto col-md-12" [images]="images" (onEnd)="imageReviewEnd($event)"></app-images-review>
    </div>

    <div class="row w-100 h-100" *ngIf="currentId === OUTRO_ID">
        <app-outro class="h-auto my-auto col-md-12" [wordResults]="wordResults" [imageResults]="imageResults" ></app-outro>
    </div>
    
</div>