<div class="container h-100">
    
    <div class="row w-100 h-100" *ngIf="currentId === INTRO_ID">
        <app-intro class="h-auto my-auto col-md-12" (goToUserInfo)="this.next()"></app-intro>
    </div>
    
    
    <div class="row w-100 h-100" *ngIf="currentId === USER_INFO_ID">
        <app-user-info [user]="this.user" (goToUserInfo)="this.next()" class="h-auto my-auto col-md-12"></app-user-info>
    </div>
    
    <div class="row w-100 h-100" *ngIf="currentId === TEST_EXPLANATION_ID">
        <app-test-explanation (goToTest)="this.next()" class="h-auto my-auto col-md-12"></app-test-explanation>
    </div>
    
</div>