<div>
    <div class="h1">Ouf !</div>

    <p>
        C'est bon, vous pouvez relâcher votre attention !
    </p>

    <p>
        Pour la suite, vous allez voir des mots. Il faudra indiquer si oui ou non vous pensez l'avoir vu précédemment.
        Vous pouvez prendre autant de temps que vous le désirez !
    </p>
 
    <p>
        Enfin, vous verrez des visages apparître. Vous devrez choisir le visage que vous pensez avoir vu précédement (il y en a forcément un !).
    </p>

    <p>
        Bonne chance !
    </p>
    <button mat-raised-button color="primary" (click)="nextClick()">Suviant</button>

</div>